<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/userProfilePage.css">
	<title>User Profile</title>
	<script src="/js/userProfile.js">
	</script>
</head>
<body>
	<header>
    	<div class="inner">
        	<div class="logo">
            	<div>
                	<img src="/images/header.jpg" alt="logo">
            	</div>
        	</div>
        	<nav>
				<li><span><a href="/api/auth/logout" class="button">Logout</a></span></li>
            	<li><span><a href="/api/user/profile">User Profile</a></span></li>
				<li><span><a th:href="${role == 'THERAPIST' ? '/api/therapist/availability' : (role == 'SCHEDULER' ? '/api/scheduler/schedule' : '/api/admin/dashboard')}">
					<span th:text="${role == 'ADMINISTRATOR' ? 'Dashboard' : 'Schedule'}"></span>
				</a></span></li>
            	<li>
            	</li>
        	</nav>
    	</div>
	</header>
	<div id="wrapper">
    	<main>
        	<h1>User Profile</h1>
			<div id="basicInfoDiv">

                <h3 id="nameOfUser">First & Last Name</h3>

				<h3>CONTACT INFO</h3>
                <p id="phoneNumber">Phone #: </p>
                <p id="email">Email: </p>

				<!--<h3>WORK INFORMATION</h3>
				<p id="userId">User ID: </p>
				<p id="roleId">Role ID: </p>-->
		    </div>
            
            <div id="certificationsDiv">
            </div>
			<div id="changePasswordDiv">
				<h3> Change Login Info</h3>
				<form id="changePasswordForm">
					<label for="newUsername">New Username:</label>
					<input type="text" id="newUsername" name="newUsername">
					<label for="newPassword">New Password:</label>
					<input type="text" id="newPassword" name="newPassword">
					<button type="button" id="passwordResetBtn" onclick="changePassword()">Change Credentials</button>
				</form>
				<p id="passwordMessage"></p>
			</div>

            <script>
				LoadUserData();
            </script>
    	</main>
	</div>
	
	<footer>
    	<p>Gold Team CPT275 | Scheduler</p>
	</footer>
</body>
</html>