-
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header {
    color: #efb963;
    text-align: center;
    width: 100vw;
    height: 100px;
    border-bottom: solid 1px #a67b5b;
    ;
    font-family: 'Poppins';
}




header .inner {
    width: 1300px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

header .logo {
    display: table;
    height: 100%;
    float: left;
}
header .logo div {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

header .logo img {
    height: 150px;
    margin-top: 5px;
}

header nav {
    float: right;
    height: 100%;
}

header nav li {
    display: table;
    height: 100%;
    float: left;
    margin-right: 30px;
}

main li {
    display: table;
    height: 100%;
    float: left;
    margin-right: 30px;
}

header nav li:last-of-type {
    margin-right: 0;    
}

header nav span {
    display: table-cell;
    vertical-align: middle;
}

header nav a {
    color: #a67b5b;
}

header nav .button {
    background-color: #efb963;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 4px;
}

header nav .button:hover {
    filter: brightness(1.05);
}

main a {
    color: white;
}

main .button {
    background-color: #efb963;
    padding: 10px 20px;
    border-radius: 4px;
}

main .button:hover {
    filter: brightness(1.05);
}

#wrapper {
    margin-left: 15em;
    margin-right: 15em;
}

#center {
    margin-left: 15em;
    margin-right: 15em;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    height: 20px;
    text-align: center;
    padding: 5px;
    text-align: center;
    background: #a67b5b;
    color: white;
    font-size: 20px;
    width: 100%;
}

h1 {
    color: #a67b5b;
}



.accountWidget {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    margin-left: 10px;
    vertical-align: middle;
    padding-top: 2.5em;
    line-height: 1;
    font-weight: bold;
}
.accountWidget span {
    margin: -8px 0;
}